[Desktop Entry]
Type=Application
Name=Open Trofeo LCD
Comment=Linux driver and theme editor for Thermalright Trofeo LCD
Exec=open-trofeo-lcd
Icon=io.github.AbigorDIY.OpenTrofeoLCD
Terminal=false
Categories=Utility;System;
Keywords=LCD;Thermalright;Trofeo;Driver;Theme;
StartupNotify=true
